extends ../layout

block content
  br
  br
  br

  h1 Recuperacion de Password

  br
  br

  form(action='/forgotPassword' method='post')
    label(for='nombre') Email:
    input#id(type='email' name='email')
    br
    br
    input.btn(type='submit' value='Resetear')