extends ../layout

block content
  br
  br
  br

  h1 Iniciar Sesion

  br
  br

  form(action='/login' method='post')
    label(for='nombre') Email:
    input#id(type='email' name='email')
    br
    label(for='email') Constraseña:
    input#id(type='password' name='password')
    br
    a(href='/forgotPassword') Olvide mi contraseña
    a(href='/auth/google') Log In con Google
    br
    br
    input.btn(type='submit' value='Iniciar Sesion')