extends ../layout

block content
  br
  br
  br

  h1 Cambiar Contraseña

  br
  br

  form(action='/resetPassword' method='post')
    label(for='nombre') Contraseña:
    input#id(type='email' name='password')
    br
    label(for='email') Confirmar Constraseña:
    input#id(type='password' name='confirm_password')
    br
    a(href='/login') Iniciar Sesion
    br
    br
    input.btn(type='submit' value='Cambiar')