extends ../layout

block content
  a(href='/usuarios') Volver

  br
  br
  br

  h1 Nuevo Usuario

  br
  br

  form(action='/usuarios/create' method='post')
    label(for='nombre') Nombre:
    input#id(type='text' name='nombre' value=usuario.nombre)
    if errors.name
      small(#nombreHelp.text-danger)
        = errors.nombre.message
    br
    label(for='email') Email:
    input#id(type='text' name='email' value=usuario.email)
    if errors.name
      small(#nombreHelp.text-danger)
        = errors.nombre.message
    br
    label(for='pwd') Password:
    input#id(type='password' name='password')
    if errors.password
      small(#nombreHelp.text-danger)
        = errors.nombre.message
    br
    label(for='confirm_pwd') Password:
    input#id(type='password' name='confirm_password')
    if errors.confirm_password
      small(#nombreHelp.text-danger)
        = errors.nombre.message
    br
    br
    input.btn(type='submit' value='Ok')
