extends ../layout

block content
  a(href='/usuarios') Volver

  br
  br
  br

  h1 Actualizando Usuario

  br
  br

  form(action=`/usuarios/${usuario.id}/update` method='post')
    label(for='nombre') Nombre:
    input#id(type='text' name='nombre' value=usuario.nombre)
    if errors.name
      small(#nombreHelp.text-danger)
        = errors.nombre.message
    br
    br
    input.btn(type='submit' value='Ok')